.layout__content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 52px);
    overflow: hidden;
}

.layout__sidebar {
    position: fixed;
    left: 0;
    top: 52px;
    height: calc(100vh - 52px);
    z-index: 100;
}

.layout__outlet {
    flex: 1;
    margin-left: 92px;
    margin-right: 26px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    transition: margin-left 0.3s ease-in-out;
}

.layout__outlet_sidebar_visible {
    margin-left: 480px;
}