.dark {
  --md-sys-color-primary: rgb(0.5568627450980392 0.8117647058823529 0.9490196078431372);
  --md-sys-color-surface-tint: rgb(0.5568627450980392 0.8117647058823529 0.9490196078431372);
  --md-sys-color-on-primary: rgb(0 0.20784313725490197 0.28627450980392155);
  --md-sys-color-primary-container: rgb(0 0.30196078431372547 0.40784313725490196);
  --md-sys-color-on-primary-container: rgb(0.7607843137254902 0.9098039215686274 1);
  --md-sys-color-secondary: rgb(0.7098039215686275 0.788235294117647 0.8431372549019608);
  --md-sys-color-on-secondary: rgb(0.12549019607843137 0.2 0.23921568627450981);
  --md-sys-color-secondary-container: rgb(0.21176470588235294 0.28627450980392155 0.32941176470588235);
  --md-sys-color-on-secondary-container: rgb(0.8196078431372549 0.8980392156862745 0.9529411764705882);
  --md-sys-color-tertiary: rgb(0.788235294117647 0.7568627450980392 0.9176470588235294);
  --md-sys-color-on-tertiary: rgb(0.19215686274509805 0.17254901960784313 0.2980392156862745);
  --md-sys-color-tertiary-container: rgb(0.2823529411764706 0.25882352941176473 0.39215686274509803);
  --md-sys-color-on-tertiary-container: rgb(0.8980392156862745 0.8705882352941177 1);
  --md-sys-color-error: rgb(1 0.7058823529411765 0.6705882352941176);
  --md-sys-color-on-error: rgb(0.4117647058823529 0 0.0196078431372549);
  --md-sys-color-error-container: rgb(0.5764705882352941 0 0.0392156862745098);
  --md-sys-color-on-error-container: rgb(1, 0.8549019607843137, 0.8392156862745098);
  --md-sys-color-background: rgb(0.058823529411764705 0.0784313725490196 0.09019607843137255);
  --md-sys-color-on-background: rgb(0.8745098039215686 0.8901960784313725 0.9058823529411765);
  --md-sys-color-surface: rgb(0.058823529411764705 0.0784313725490196 0.09019607843137255);
  --md-sys-color-on-surface: rgb(0.8745098039215686 0.8901960784313725 0.9058823529411765);
  --md-sys-color-surface-variant: rgb(0.25098039215686274 0.2823529411764706 0.30196078431372547);
  --md-sys-color-on-surface-variant: rgb(0.7529411764705882 0.7803921568627451 0.803921568627451);
  --md-sys-color-outline: rgb(0.5411764705882353 0.5725490196078431 0.592156862745098);
  --md-sys-color-outline-variant: rgb(0.25098039215686274 0.2823529411764706 0.30196078431372547);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(0.8745098039215686 0.8901960784313725 0.9058823529411765);
  --md-sys-color-inverse-on-surface: rgb(0.17254901960784313 0.19215686274509805 0.20392156862745098);
  --md-sys-color-inverse-primary: rgb(0.10196078431372549 0.396078431372549 0.5215686274509804);
  --md-sys-color-primary-fixed: rgb(0.7607843137254902 0.9098039215686274 1);
  --md-sys-color-on-primary-fixed: rgb(0 0.11764705882352941 0.17254901960784313);
  --md-sys-color-primary-fixed-dim: rgb(0.5568627450980392 0.8117647058823529 0.9490196078431372);
  --md-sys-color-on-primary-fixed-variant: rgb(0 0.30196078431372547 0.40784313725490196);
  --md-sys-color-secondary-fixed: rgb(0.8196078431372549 0.8980392156862745 0.9529411764705882);
  --md-sys-color-on-secondary-fixed: rgb(0.03529411764705882 0.11764705882352941 0.1568627450980392);
  --md-sys-color-secondary-fixed-dim: rgb(0.7098039215686275 0.788235294117647 0.8431372549019608);
  --md-sys-color-on-secondary-fixed-variant: rgb(0.21176470588235294 0.28627450980392155 0.32941176470588235);
  --md-sys-color-tertiary-fixed: rgb(0.8980392156862745 0.8705882352941177 1);
  --md-sys-color-on-tertiary-fixed: rgb(0.10980392156862745 0.09019607843137255 0.21176470588235294);
  --md-sys-color-tertiary-fixed-dim: rgb(0.788235294117647 0.7568627450980392 0.9176470588235294);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0.2823529411764706 0.25882352941176473 0.39215686274509803);
  --md-sys-color-surface-dim: rgb(0.058823529411764705 0.0784313725490196 0.09019607843137255);
  --md-sys-color-surface-bright: rgb(0.20784313725490197 0.22745098039215686 0.23921568627450981);
  --md-sys-color-surface-container-lowest: rgb(0.0392156862745098 0.058823529411764705 0.07058823529411765);
  --md-sys-color-surface-container-low: rgb(0.09019607843137255 0.10980392156862745 0.12156862745098039);
  --md-sys-color-surface-container: rgb(0.10588235294117647, 0.12549019607843137, 0.13725490196078433);
  --md-sys-color-surface-container-high: rgb(0.14901960784313725, 0.16862745098039217, 0.1803921568627451);
  --md-sys-color-surface-container-highest: rgb(0.19215686274509805 0.20784313725490197 0.2235294117647059);
}
