.upload_container {
    display: block;
    width: fit-content;
}

.upload_label {
    background-color: #ABABAB;
    padding: 10px 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    cursor: pointer;
}

.upload_label:active {
    background-color: var(--on-main);
}

.err {
    color: var(--red);
    font-size: .825rem;
}

.file_name {
    margin-top: 8px;
    font-size: 0.875rem;
    color: var(--md-sys-color-on-surface-variant);
    word-break: break-all;
}