.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.topbar_left {
    display: flex;
    flex-direction: row;
    align-items: center;
}