.sidebar {
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    width: 72px;
    transition: width 0.3s;
}

.sidebar_visible {
    width: 440px;
}

.left_container {
    width: 72px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 16px;
    overflow-y: auto;
}

.sidebar_list {
    display: flex;
    flex-direction: column;
    padding: 2px 10px;
    gap: 12px;
}

.sidebar_panel {
    height: 100vh;
    padding-right: 26px;
    overflow-y: auto;
    /* position: absolute; */
    left: -500px;
    transition: left 0.3;
}

.sidebar_panel_visible {
    left: 72px;
}