.sidebar {
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    /* width: 72px; */
    transition: width 0.3s;
}

.sidebar_visible {
    /* width: 440px; */
}

.left_container {
    /* width: 72px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.sidebar_list {
    display: flex;
    flex-direction: column;
    padding: 2px 10px;
    gap: 12px;
}

.sidebar_item_icon_image {
    width: 25px;
    height: 25px;
}

.sidebar_panel {
    position: fixed;
    height: calc(100vh - 56px);
    width: 368px;
    padding-right: 26px;
    left: -500px;
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 10;
}

.sidebar_panel_visible {
    left: 85px;
}